### Тема “Обучение с учителем”

Задание 1

Импортируйте библиотеки pandas и numpy.
Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. Создайте датафреймы X и y из этих данных.
Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.
Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.
Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.
Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [54]:
import warnings

warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [55]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [33]:
X = pd.DataFrame(boston['data'], columns=boston['feature_names'])
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [34]:
y = pd.DataFrame(boston['target'], columns=["price"])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
lr = LinearRegression()

In [39]:
lr.fit(X_train, y_train)

LinearRegression()

In [62]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": lr.predict(X_test).flatten()
})

check_test.head(100)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
..      ...        ...
132    23.0  20.910781
371    50.0  24.822491
412    17.9  -0.477121
436     9.6  13.705205
411    17.2  15.695256

[100 rows x 2 columns]

In [63]:
from sklearn.metrics import r2_score

In [64]:
R2 = r2_score(check_test['y_test'], check_test['y_pred'])
print(R2)

0.7112260057484912

Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.
Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.
Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [65]:
from sklearn.ensemble import RandomForestRegressor

In [66]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [67]:
y_train_new = np.array(y_train.values[:, 0], dtype=int)

In [68]:
model.fit(X_train, y_train_new)

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [69]:
check_test_rfc = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": model.predict(X_test).flatten()
})

check_test_rfc.head(100)

     y_test     y_pred
173    23.6  22.506724
274    32.4  30.777631
491    13.6  16.126013
72     22.8  23.443970
452    16.1  16.547684
..      ...        ...
132    23.0  19.460720
371    50.0  37.619904
412    17.9  11.175667
436     9.6  12.020676
411    17.2  11.998955

[100 rows x 2 columns]

In [70]:
from sklearn.metrics import r2_score

In [71]:
R2 = r2_score(check_test['y_test'], check_test['y_pred'])
print(R2)

0.7112260057484912

In [72]:
R2_rfc = r2_score(check_test_rfc['y_test'], check_test_rfc['y_pred'])
print('RandomForest R2: ', R2_rfc)
print('LinearRegression R2: ', R2)

RandomForest R2:  0.8725861214021039
LinearRegression R2:  0.7112260057484912

Лучший результат показала модель, построенная на алгоритме Random Forest.

Модели работают с одинаковой точностью

*Задание 3


Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances_.
С помощью этого атрибута найдите сумму всех показателей важности,
установите, какие два признака показывают наибольшую важность.

In [74]:
from sklearn.ensemble import RandomForestRegressor
?RandomForestRegressor

In [75]:
print(sum(model.feature_importances_))

1.0

In [76]:
feat_imp = pd.DataFrame({
    "feature_name": boston['feature_names'],
    "feature_importance": model.feature_importances_
})
feat_imp

   feature_name  feature_importance
0          CRIM            0.030827
1            ZN            0.001606
2         INDUS            0.007328
3          CHAS            0.001198
4           NOX            0.015497
5            RM            0.398289
6           AGE            0.015395
7           DIS            0.066110
8           RAD            0.005290
9           TAX            0.012771
10      PTRATIO            0.018017
11            B            0.012417
12        LSTAT            0.415256

In [77]:
feat_imp.sort_values("feature_importance", ascending=False).head(2)

   feature_name  feature_importance
12        LSTAT            0.415256
5            RM            0.398289